# Database Configuration - New Server
DB_HOST=localhost
DB_USER=remote_user
DB_PASSWORD=Lukonehtan001!
DB_NAME=nay_myo_htun_web
DB_PORT=3306

# Session Configuration
SESSION_SECRET=your-super-secret-session-key

# Application Configuration
NODE_ENV=development
PORT=3500

# Email Configuration - Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=contact.atomgameshop@gmail.com
SMTP_PASS=whng rcqy jtrl smvn
SMTP_SECURE=false

# Website Configuration
WEBSITE_URL=https://atomgameshop.com
FROM_EMAIL=contact.atomgameshop@gmail.com

# Email Testing
TEST_EMAIL=contact.atomgameshop@gmail.com

# ML API Configuration
ML_API_EMAIL=lp277622@gmail.com
ML_API_UID=887384
ML_API_KEY=017d81ce5a5903f6514ec4c27b0d26fd
ML_API_PRODUCT=mobilelegends
ML_API_URL=https://www.smile.one

# Google OAuth Configuration
GOOGLE_CLIENT_ID=90809284403-7av6kn66j10u5hsg204hg3k4rnfrhriq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://atomgameshop.com/auth/google/callback

TELEGRAM_BOT_TOKEN=8100112493:AAGh7XK2s9qFylQY1eXSt7jPRX0c4Td_VSY
TELEGRAM_ADMIN_CHAT_ID=6173806836
APP_URL=https://atomgameshop.com